# Visual Studio
x64/
*.vcxproj*

# External libraries
external/**
!external/glad/includes/.keep
!external/glad/src/.keep
!external/glfw/includes/.keep
!external/glfw/libs/.keep
!external/glm/includes/.keep
!external/stb_image/includes/.keep
!external/stb_image/src/.keep

# Build files
build/**
!build/.keep

# Assets
assets/**
!assets/.keep